# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env                # Root .env file
.env.local          # Local environment variables
.env.development    # Development environment
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel deployment files
.vercel

# Ignore backend-specific files
backend/.env        # Backend .env file

# Ignore .history and .lh folders
.history/
.lh/
